<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="closeModal()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      ตัวกรองค้นหา
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label class="fw500" color="dark">เว็บไซต์</ion-label>
    <ion-select [(ngModel)]="webName" multiple="true" cancelText="ยกเลิก" okText="ตกลง">
      <div *ngFor="let item of listWebName">
        <ion-select-option value="{{item.webName}}">{{item.webName}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="no-margin-bottom">
      <ion-text color="dark" class="fw500">ช่วงราคา</ion-text>
    </ion-label>
    <ion-range dualKnobs="true" [(ngModel)]="minmaxprice" min="0" max="1000" step="10" class="no-padding-top">
      <ion-label slot="start">
        <ion-text color="primary">฿ {{minmaxprice.lower}}</ion-text>
      </ion-label>
      <ion-label slot="end">
        <ion-text color="primary">฿ {{minmaxprice.upper}}</ion-text>
      </ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-text style="color: red;font-size: 10px;">* กรณีราคามากกว่า 1000 ให้เลื่อนไปทางขวาสุด
      </ion-text>
    </ion-label>
  </ion-item>
  

  <ion-button expand="full" color="primary" (click)="closeModal()">ตกลง</ion-button>
</ion-content>