<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
    	ตั้งค่าหมวดหมู่
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of this.ListWebNameStorage">
    <ion-item>
      <ion-label>{{item.webName}}</ion-label>
      <ion-toggle slot="end" name="tertiary" color="success" [(ngModel)]="item.status"  [checked]="item.status" (ionChange)="onChanged($event,item.webName)"></ion-toggle>
    </ion-item>

  </ion-list>

</ion-content>
