<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="closeModal()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      เกี่ยวกับ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-row style="margin-left: 12px;">
          <ion-col size="12">
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail item-left>
                  <img src="assets/icon/favicon.png" alt="Ldrakha">
                </ion-thumbnail>
              </ion-col>
              <ion-col size="10">
                <ion-item lines="none">
                  <ion-label>Ldrakha : ค้นหาสินค้าลดราคา</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <p style="margin-top: 0px;margin-left: 17px;">
              แอพพลิเคชั่นแสดงข้อมูลสินค้าลดราคาจากเว็บไซด์ต่างๆ 
              ซึ่งได้รวบรวมข้อมูลสินค้าลดราคาไว้ เพื่อเป็นข้อมูลในการตัดสินใจเลือกซื้อสินค้า</p>
          </ion-col>
        </ion-row>
      </ion-item-divider>

      <ion-item-divider>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <h6>เวอร์ชั่น</h6>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <p style="margin-top: -10px;margin-left: 30px;">
              เวอร์ชั่น 0.0.1</p>
          </ion-col>
        </ion-row>
      </ion-item-divider>

      <ion-item-divider>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <h6>ผู้พัฒนา</h6>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <p style="margin-top: -10px;margin-left: 30px;">
              นาย ธงชัย เที่ยงธรรม นักศึกษาภาควิชา วิทยาการคอมพิวเตอร์ มหาวิทยาลัยรามคำแหง </p>
          </ion-col>
        </ion-row>
      </ion-item-divider>

      <ion-item-divider>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <h6>ข้อมูลติดต่อ</h6>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <p style="margin-top: -10px;margin-left: 30px;">
              mandarinkb@gmail.com</p>
          </ion-col>
        </ion-row>
      </ion-item-divider>



    </ion-item-group>
  </ion-list>
</ion-content>