
<!--<ion-app>-->
  <div class="ion-page" id="main-content"><!--ต้องมีแท็ก div นี้ไม่งั้นเรียกเมนูด้านข้างไม่ได้-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inbox</ion-title>
      </ion-toolbar>
<!--search-->
      <ion-toolbar color="dark">
        <ion-searchbar [(ngModel)]="searchKey" ></ion-searchbar><!--(ionChange)="search($event)"-->
        <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" ><!--(click)="searchFilter()"-->
            <ion-icon name="options"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
<!--content-->    
    <ion-content fullscreen>
      <ion-card>
        <ion-card-content>
          <ion-row style="margin-top: -18px;margin-left: -20px;">
            <ion-col size="12">
              <div class="discount-tag">10% Discount</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <img src="https://secure.ap-tescoassets.com/assets/TH/248/8858893904248/ShotType1_540x540.jpg" class = "center"/>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-title>เทสโก้ น้ำดื่ม 600มล. x 12 ขวด</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span>฿</span>
              <span style ="font-size: 25px;color: orange;">39.00</span> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span>฿</span>
              <span style="margin-top: 12px;font-size: 20px;text-decoration: line-through;">49.00</span> 
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <div>
                <img src="https://www.tescolotus.com/assets/theme2018/tl-theme/img/logo.png" style="width: 60px;margin-top: 7px;"/>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-right">
                <ion-button color="primary">ตรวจสอบราคา</ion-button>
                </div>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-content>
 </div>


 <!--sidebar menu-->
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Outbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Archived</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Spam</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

<!--</ion-app>-->
