
<!--<ion-app>-->
  <div class="ion-page" id="main-content"><!--ต้องมีแท็ก div นี้ไม่งั้นเรียกเมนูด้านข้างไม่ได้-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inbox</ion-title>
      </ion-toolbar>
<!--search-->
      <ion-toolbar color="dark">
        <ion-searchbar [(ngModel)]="searchValue" (ionBlur)="search()"></ion-searchbar>
        <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
            <ion-icon name="options"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
<!--content-->    
    <ion-content fullscreen *ngIf="haveData"><!--*ngIf="haveData"-->
      <ion-card *ngFor="let item of this.value"><!--service.listItems-->
        <ion-card-content>
          <ion-row class="discount-position">
            <ion-col size="12">
              <div class="discount-tag">ส่วนลด {{item.discount}}%</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <img src="{{item.image}}" class = "center"/>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-title>{{item.name}}</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="price-text">
              <span>฿</span>
              <span>{{item.price}}</span> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="original-price-text"><!--style="font-size: 20px;text-decoration: line-through;"-->
              <span>฿</span>
              <span>{{item.originalPrice}}</span> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <div>
                <img src="{{item.icon}}" class="img-icon"/>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-right">
                <ion-button color="primary" href="{{item.productUrl}}" target="_blank">ดูรายละเอียด</ion-button>
                </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>

    <ion-content fullscreen *ngIf="!haveData">
      <ion-card class="ion-text-center card-custom">
        <ion-card-content>
          <ion-row>
            <ion-col size="12" class="card-text-center">
              <span>ไม่พบข้อมูล</span> 
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-content>
 </div>

 <!--sidebar menu-->
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary"><!--translucent-->
        <ion-title style="margin-left: 15px;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item  button (click)="selectMenu('ผลิตภัณฑ์เพื่อสุขภาพ ความงาม')">
          <!--[routerLink]="'/fixtures/'+item.homeTeam+' - '+item.awayTeam"-->
          <span>ผลิตภัณฑ์เพื่อสุขภาพ ความงาม</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('เครื่องดื่ม ขนมขบเคี้ยว ของหวาน')">
          <span>เครื่องดื่ม ขนมขบเคี้ยว ของหวาน</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('อาหารสด แช่เเข็ง เบเกอรี่')">
          <span>อาหารสด แช่เเข็ง เบเกอรี่</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('เครื่องใช้ไฟฟ้า อุปกรณ์ภายในบ้าน')">
          <span>เครื่องใช้ไฟฟ้า อุปกรณ์ภายในบ้าน</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('ผลิตภัณฑ์สำหรับเด็ก')">
          <span>ผลิตภัณฑ์สำหรับเด็ก</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('ผลิตภัณฑ์ทำความสะอาดในครัวเรือน')">
          <span>ผลิตภัณฑ์ทำความสะอาดในครัวเรือน</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('อาหารแห้ง อาหารกระป๋อง')">
          <span>อาหารแห้ง อาหารกระป๋อง</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('ผลิตภัณฑ์สำหรับสัตว์เลี้ยง')">
          <span>ผลิตภัณฑ์สำหรับสัตว์เลี้ยง</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('สินค้าอื่นๆ')">
          <!--<ion-icon name="warning" slot="start"></ion-icon>-->
          <!--<ion-label>สินค้าอื่นๆ</ion-label>-->
          <span>สินค้าอื่นๆ</span> 
        </ion-item>

        <!--<ion-item>
          <ion-label>Gaming</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="nes">NES</ion-select-option>
            <ion-select-option value="n64">Nintendo64</ion-select-option>
            <ion-select-option value="ps">PlayStation</ion-select-option>
            <ion-select-option value="genesis">Sega Genesis</ion-select-option>
            <ion-select-option value="saturn">Sega Saturn</ion-select-option>
            <ion-select-option value="snes">SNES</ion-select-option>
          </ion-select>
        </ion-item>-->

      </ion-list>
    </ion-content>
  </ion-menu>

<!--</ion-app>-->
