
<!--<ion-app>-->
  <div class="ion-page" id="main-content"><!--ต้องมีแท็ก div นี้ไม่งั้นเรียกเมนูด้านข้างไม่ได้-->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
      </ion-toolbar>
<!--search-->
      <ion-toolbar color="light">
        <ion-searchbar [(ngModel)]="searchValue" (ionBlur)="search()"></ion-searchbar>
        <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
            <ion-icon name="options"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
<!--content-->    
    <ion-content fullscreen *ngIf="haveData">
     
      <ion-card *ngFor="let item of this.itemValue">
        <ion-card-header style="background-color: white">
          <ion-row ><!--class="discount-position"-->
            <ion-col size="12">
              <div class="discount-tag">ส่วนลด {{item.discount}}%</div>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <!--<img src="{{item.image}}" alt="ion">-->
        <ion-card-content style="background-color: white;">
          <ion-row>
            <ion-col size="12">
              <img src="{{item.image}}" class = "center"/>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-card-content style="background-color: white;">
          <ion-row>
            <ion-col size="12">
              <ion-card-title>{{item.name}}</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top:15px;">
            <ion-col size="12">
              <div class="price-text">฿{{item.price}} &nbsp; &nbsp;</div>
              <div class="original-price-text">฿{{item.originalPrice}}</div>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="12" >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <div>
                <img src="{{item.icon}}" class="img-icon"/>
              </div>
            </ion-col>
            <ion-col size="6" style="margin-top: 5px;">
              <div class="ion-text-right">
                <ion-button color="primary" href="{{item.productUrl}}" target="_blank">ดูรายละเอียด</ion-button>
                </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
   
      <ion-infinite-scroll threshold="10%" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="crescent"
          ><!--loadingText="Loading more data..."-->
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>

    <ion-content fullscreen *ngIf="!haveData">
      <ion-card class="ion-text-center card-custom">
        <ion-card-content>
          <ion-row>
            <ion-col size="12" class="card-text-center">
              <span>ไม่พบข้อมูล</span> 
            </ion-col>
          </ion-row>
        </ion-card-content>

      </ion-card>
    </ion-content>
 </div>

 <!--sidebar menu-->
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary"><!--translucent-->
        <ion-title style="margin-left: 15px;">เมนู</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item  button (click)="selectMenu('อุปกรณ์ อิเล็กทรอนิกส์')">
          <!--[routerLink]="'/fixtures/'+item.homeTeam+' - '+item.awayTeam"-->
          <span>อุปกรณ์ อิเล็กทรอนิกส์</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('อุปกรณ์เสริม อิเล็กทรอนิกส์')">
          <span>อุปกรณ์เสริม อิเล็กทรอนิกส์</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('ทีวีและเครื่องใช้ ไฟฟ้าในบ้าน')">
          <span>ทีวีและเครื่องใช้ ไฟฟ้าในบ้าน</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('สุขภาพและความงาม')">
          <span>สุขภาพและความงาม</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('เด็กอ่อน และของเล่น')">
          <span>เด็กอ่อน และของเล่น</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('ซูเปอร์มาร์เก็ต และสัตว์เลี้ยง')">
          <span>ซูเปอร์มาร์เก็ต และสัตว์เลี้ยง</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('อุปกรณ์และผลิตภัณฑ์ทำความสะอาดในบ้าน')">
          <span>อุปกรณ์และผลิตภัณฑ์ทำความสะอาดในบ้าน</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('แฟชั่นผู้หญิง')">
          <span>แฟชั่นผู้หญิง</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('แฟชั่นผู้ชาย')">
          <span>แฟชั่นผู้ชาย</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('เครื่องประดับ')">
          <span>เครื่องประดับ</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('กีฬาและ การเดินทาง')">
          <span>กีฬาและ การเดินทาง</span> 
        </ion-item>
        <ion-item button (click)="selectMenu('ยานยนต์ และอุปกรณ์')">
          <span>ยานยนต์ และอุปกรณ์</span> 
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

<!--</ion-app>-->
